body {
    margin: 0
}

.block {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 860px;
    position: relative;
    bottom: -45px;
}

.rondo {
    background: white;
    border: solid 1px black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 900px;
}

.card {
    display: flex;
    justify-content: center;
    background: white;
    height: 300px;
    width: 250px;
    box-sizing: border-box;
    padding-top: 50px;
    flex-wrap: wrap;
    border: solid 1px black;
}

.button {
    border: solid 2px darkblue;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
}

.button:hover {
    background: #71d0ef;
}

a {
    text-decoration: none
}