body {
    margin: 0;
}

.color_grey {
    background: grey;
}

.color_white {
    background: white;
}

.top {
    height: 100px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 25px 100px 25px 100px;
    display: flex;
    justify-content: space-between;
}

.miniKwadrat {
    height: 50px;
    width: 100px;
    border-radius: 10px;

}

.icons {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 15px;
}

.content {
    background: blue;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}

.kwadrat {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    position: relative;
    top: 400px;
}

.footer {
    height: 500px;
}