body {
    margin: 0;
}

.father {
    width: 100%;
    height: 900px;
    background: #71d0ef;
}

.top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
}

.kwadrat {
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

.fa-magnifying-glass {
    box-sizing: border-box;
    padding-right: 10px;
}

.target {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.box {
    height: 200px;
    width: 200px;
}

.pos-kw {
    width: 900px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 300px;
}

.col-white {
    background: white;
}

.col-grey {
    background: grey;
}

.col-blue {
    background: blue;
}
