body {
    margin: 0;
}

.color_grey {
    background: grey;
}

.color_white {
    background: white;
}

.top {
    height: 100px;
    width: 100%;
    position: fixed;
}

.miniKwadrat {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 100px;
    right: 0;
}

.icons {
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    padding-right: 70px;
}

.find {
    box-sizing: border-box;
    padding-right: 30px;
}

.content {
    background: blue;
    height: 500px;
}

.pos_kwadrat {
    position: relative;
    bottom: -400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.kwadrat {
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

.footer {
    height: 500px;
}